site_name: Electric Barometer
site_description: Documentation hub for the Electric Barometer ecosystem
site_url: site_url: https://economistician.github.io/eb-docs/

repo_name: Economistician/eb-docs
repo_url: https://github.com/Economistician/eb-docs

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Ecosystem: ecosystem.md

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight
  - pymdownx.superfences

plugins:
  - search

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js